src/
test/
docs/
node_modules/
.claude/
.github/
*.ts
!dist/**
tsconfig.json
tsup.config.ts
eslint.config.mjs
release.yml
CLAUDE.md
.nvmrc
.npmrc
.gitignore
.commitlintrc.json
.editorconfig
.envrc
.grype.yaml
.markdownlint-cli2.jsonc
.markdownlint.json
.mega-linter.yml
.prettierrc.mjs
.releaserc.json
.tool-versions
